html, body {
    margin: 0;
    padding: 0;

    position: absolute;
    left: 0;
    top: 0;

    height: 100%;
    width: 100%;
}

body {
    background-color: var(--color-bg);
    color: var(--color-normal);

    font-family: "Determination Mono", sans-serif;
}

a {
    text-decoration: none;
    color: var(--color-link);
}

img {
    image-rendering: pixelated;
}

canvas {
    font-smooth: never;
    -webkit-font-smoothing : none;
}

input[type="checkbox"] {
    appearance: none;
    border:black 3px solid;
    outline: white 3px solid;
    background-color: transparent;
    
    margin: 0 6px 0 0;
    min-width: 20px;
    min-height: 20px;
}

input[type="checkbox"]:hover {
    outline-color: var(--color-link);
}

input[type="checkbox"]:checked {
    background-color: var(--color-link);
}


/* Animations */
@keyframes rainbow-col {
    0% {
        color: red;
    }
    16% {
        color: orange;
    }
    33% {
        color: yellow;
    }
    50% {
        color: green;
    }
    66% {
        color: blue;
    }
    83% {
        color: indigo;
    }
    100% {
        color: red;
    }
}


/* Classes */
.opacity-100 {
    opacity: 100% !important;
}

.color-second {
    color: var(--color-second);
}

.color-error {
    color: var(--color-error);
}

.display-block {
    display: block;
}

.fsize-medium {
    font-size: medium;
}

.selectable:hover {
    color: var(--color-link);
}

.selectable-border:hover {
    border-color: var(--color-link);
}

.selectable-full:hover {
    filter: invert(97%) sepia(62%) saturate(5704%) hue-rotate(358deg) brightness(106%) contrast(101%);
}

/* Disables overflow */
body.no-overflow {
    overflow: hidden !important;
}

.rainbow-col {
    animation: rainbow-col 10s linear infinite;
}

.robot-btn::before { content: "["; }
.robot-btn::after { content: "]"; }